body {
  font-family: sans-serif;
}

.keyboard-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  margin: 20px auto;
  width: 60%;
}

.keyboard-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* Adjust depending on layout */
  gap: 10px;
}

.key {
  background-color: #f3f3f3;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: auto; /* Automatic width for standard keys */
}

.key:hover {
  background-color: #ddd;
}
