body {
  font-family: sans-serif;
}

.keyboard-container {
  text-align: center;
  margin-bottom: 20px;
}

.keyboard {
  max-width: 900px; /* Set a maximum width for the entire keyboard */
  margin: 0 auto;
}

.keyboard-row {
  display: flex;
  justify-content: center; /* Center all keys within the row */
  gap: 5px; /* Adjusted spacing between keys */
  margin-bottom: 10px;
}

.key {
  background-color: #f3f3f3;
  padding: 15px 10px; /* Adjust padding for a more compact key size */
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  flex: 0 0 auto;
}

.key.editable {
  background-color: #ffe0b3; /* Change appearance when in Edit Mode */
}

.key:hover {
  background-color: #ddd;
}

/* Key Addition Panel */
.key-addition-panel {
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  display: inline-block;
}

.key-addition-panel label {
  display: block;
  margin: 10px 0;
}

.key-preview {
  margin-top: 15px;
  text-align: center;
}

/* Align keys within the preview row */
.key-preview .keyboard-row {
  display: flex;
  justify-content: center;
  gap: 5px;
}

/*
.layout-view {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.keyboard-2d-view {
  flex: 1;
  margin-right: 20px;
}

.keyboard-3d-view {
  flex: 1;
  height: 500px; *//* You can adjust the height as needed */
/*}*/
